<p id="notice"><%= notice %></p>

<h1>
  <strong>Name:</strong>
  <%= @list.name %>
</h1>
<% for @task in @list.tasks %>
   <ul><li><%= @task.content %></li></ul>
 <% end %>



<%= link_to 'Edit', edit_list_path(@list) %> |
<%= link_to 'Back', lists_path %>
