<p id="notice"><%= notice %></p>

<h1>
  <strong>Name:</strong>
  <%= @list.name %>
</h1>
<ol>
	<% for @task in @list.tasks %>
	<li><%= @task.content %></li>
	 <% end %>
</ol>



<%= link_to 'Edit', edit_list_path(@list) %> |
<%= link_to 'Back', lists_path %>
